@import '../../../../../../stylings/variables';

.info {
  font-size: x-large;
}

.modal-header {
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-image-wrapper {
  background-image: url('/assets/pokemon-background.png');
  min-height: 234px;
  min-width: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
}

@each $firstColorName, $firstColorCode in $colors {
  @each $secondColorName, $secondColorCode in $colors {
    .gradient-#{$firstColorName}-#{$secondColorName} {
      background-image: linear-gradient(140deg, $firstColorCode 0%, $secondColorCode 100%);
    }
  }
}

@each $firstColorName, $color in $colors {
  .background-#{$firstColorName} {
    background-color: $color;
  }
}
